* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 120%;
    font-weight: normal;
    font-style: normal;
}

main {
    padding-top: 50px;
}

footer {
    margin-top: auto;
    margin-bottom: 0;
}

.wrapper {
    max-width: 1440px;
    padding: 0 40px;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
    line-height: 120%;
    color: #222;
    margin-bottom: 50px;
    text-align: center;
}

h2 {
    font-size: 28px;
    line-height: 120%;
    color: #222;
    margin-bottom: 30px;
}

a, img {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.button {
    background-color: #000;
    width: fit-content;
    color: #fff;
    padding: 15px;
    transition: .3s;
    border: 1px solid #000;
    outline: none;

    &:hover {
        background-color: #fff;
        color: #000;
    }
}