@import 'global';

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

header {
    background-color: #000;
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;

    input {
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
        display: none;
    }

    nav {
        ul {
            display: flex;
            padding-left: 0;

            li {
                margin-right: 30px;

                &:last-of-type {
                    margin-right: 0;
                }

                a {
                    text-decoration: none;
                    display: flex;
                    text-transform: uppercase;
                    color: #FFF;
                    font-weight: 700;
                    font-family: sans-serif;
                }
            }
        }
    }

    @media (max-width: 992px) {
        label {
            position: absolute;
            top: 40px;
            right: 40px;
            height: 20px;
            width: 15px; 
            z-index: 5;
    
            span {
              position: absolute;
              width: 100%;
              height: 2px;
              top: 50%;
              margin-top: -1px;
              left: 0;
              display: block;
              background: #FFF;
              transition: .5s;
            }
    
            span:first-child {
              top: 4px; 
            }
    
            span:last-child {
              top: 16px; 
            }      
          }
    
          label:hover { 
            cursor: pointer;
          }
    
          input:checked + label { 
            span {
              opacity: 0;
              top: 50%;
            }
    
            span:first-child {
              opacity: 1;
              transform: rotate(405deg);
            }
    
            span:last-child {
              opacity: 1;
              transform: rotate(-405deg);
            }
          }
    
          input ~ nav {
            background: #000;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 90px;
            z-index: 3;
            transition: .5s;
            transition-delay: .5s;
            overflow: hidden;
    
            > ul {
                display: block;
                text-align: center;
                position: absolute;
                top: 45%;
                left: 50%;
                transform: translateX(-50%);
        
                > li {
                    opacity: 0;
                    transition: .5s;
                    transition-delay: 0s;
                    margin-right: 0;
        
                    > a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #FFF;
                    font-weight: 700;
                    font-family: sans-serif;
                    display: block;
                    padding: 30px;
                    }
                }
            }
          }
    
          input:checked ~ nav { 
            height: 500px;
            transition-delay: 0s;
    
            > ul {
              > li {
                opacity: 1;
                transition-delay: .5s;
              }
            }
          } 
    }
} 

footer {
    .copyright {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        padding-top: 20px;
    }
}

.postsList__item {
    display: flex;
    margin-bottom: 50px;
    

    &_container {
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            margin-bottom: 10px;
        }
    }

    &_image {
        width: 200px;
        height: 200px;
        margin-right: 30px;
        min-width: 200px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &_title {
        h2 {
            margin-bottom: 20px; 
        }
    }
}

.pagination {
    list-style: none;
    display: flex;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    li {
        padding-left: 15px;
        padding-right: 15px;

        &.active {
            color: green;
            pointer-events: none;
        }
    }
}

.post {
    &__image {
        margin-bottom: 50px;
    }

    &__content {
        margin-bottom: 50px;
    }
}

.description {
    margin-bottom: 50px;
    font-style: italic;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    input, textarea {
        margin-bottom: 30px;
        outline: none;
        border: 1px solid #000;
        border-radius: 0;
        padding: 15px;
        color: #000;

        &::placeholder {
            color: #000;
        }
    }

    textarea {
        resize: vertical;
    }

    input {
        height: 30px;
    }

    button {
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
        padding-left: 50px !important;
        padding-right: 50px !important; 
        font-size: 16px;
    }
}

.post {
    h1 {
        text-align: left;
    }
}

.result-message {
    background-color: #fff;
    max-width: 800px;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    &.success {
        border: 2px solid green;
        color: green;
    }
}

.error-page {
    height: 80vh;

    .wrapper {
        height: 100%;

        @media (max-width: 360px) {
            padding: 0;
        }
    }

    img {
        height: 100%;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        min-width: 320px;
    }
}